*{margin: 0; padding: 0;}
.main{}

#a{
width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
text-align: center;
margin-top: 50px;
}
#b{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#c{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#d{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#e{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#f{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#g{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#h{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#i{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#j{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#k{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#l{
    width: 100px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
margin-left: 10px;
text-align: center;
margin-top: 50px;
}
#m{
    width: 400px;
height: 45px;
border: 3px solid green;
border-radius: 4px;
text-align: center;
margin-top: 10px;
}
#n{ 
    width: 400px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;}
#o{
     width: 400px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;}
#p{
     width: 400px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;}
#q{ 
    width: 800px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}
#r{
    width: 600px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
}
#s{
    width: 600px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}
#t{
    width: 1200px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
}
#u{
    width: 400px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;}
#v{
    width: 400px;
    height: 45px;
    margin-top: 10px;
    margin-left: 10px;}
#w{
    width: 400px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;}
#x{
    width: 300px;
    height: 45px;
    margin-top: 10px;
}
#y{
    width: 300px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;}
#z{
    width: 300px;
    height: 45px;
    margin-left: 10px;
    margin-top: 10px;
}
#za{
    width: 300px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
#aw{
    width: 400px;
    height: 45px;
    margin-top: 10px;
   
}
#ax{
    width: 400px;
    height: 45px;
    border: 3px solid green;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
#ay{width: 400px;
    height: 45px;
    margin-top: 10px;
    margin-left: 10px;}










